name: CI-CD FoodTruck API

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  ci:
    name: CI - Build & Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
      - name: Run tests
        run: mvn -B clean verify
      - name: Upload test reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: junit-test-reports
          path: target/surefire-reports/**
          delivery:
            name: CD - Build JAR
            runs-on: ubuntu-latest
            needs: ci

            steps:
              - uses: actions/checkout@v4
              - uses: actions/setup-java@v4
                with:
                  distribution: temurin
                  java-version: 17
              - uses: actions/cache@v4
                with:
                  path: ~/.m2/repository
                  key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
              - name: Package JAR
                run: mvn -B clean package -DskipTests
              - name: Upload JAR artifact
                uses: actions/upload-artifact@v4
                with:
                  name: foodtruck-api-jar
                  path: target/*.jar